:host {
}

paper-toggle-button {
    margin-top: 19px;
}

core-icon {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    margin-top: 15px;
}

core-icon:hover {
    fill: #fb8c00;
}

.card {
    margin: 10px;
    padding-right: 15px;
}
